
# Build output directories
/build
/build*
/bazel*

# clangd
.cache

# The downloaded corpora files for benchmark.
/third_party/corpora

# hdrvdp source code
third_party/hdrvdp-2.2.2
third_party/hdrvdp-2.2.2.zip
third_party/hdrvdp-2.2.2.zip.tmp

# Output plots
tools/benchmark/metrics/plots
tools/benchmark/metrics/results.csv
tools/conformance/__pycache__

# Editor configuration
*.code-workspace
.DS_Store
**/.DS_Store

/testdata
/third_party/brotli
/third_party/googletest
/third_party/highway
/third_party/libpng
/third_party/lodepng
/third_party/skcms
/third_party/zlib
/third_party/lcms
/third_party/libjpeg_turbo
/third_party/sjpeg
/third_party/libjpeg-turbo


*.jxl
*.png
*.jpeg
*.jpg
*.PNG
